<div class="container">
  <h1><strong>Mis proyectos</strong></h1>
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let projects of listProjects"
    >
      <div class="our-team">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://es.unesco.org/youth/toptips/user/pages/images/home-feature-two_mobile.png"
          />
        </div>
        <div class="team-content">
          <h3 class="name">{{ projects.projectTitle }}</h3>
          <h4 class="title">Descripcion :{{ projects.description }}</h4>
          <h5 class="title">Vistas : {{ projects.views }}</h5>


          <div class="row">

            <div  class="col-md-6">
              <button
                type="button"
                class="boton_personalizado"
                routerLink="/user/administrar-evaluacion/{{ projects.projectsId }}"

              >
                <mat-icon>person_add</mat-icon>
              </button>
            </div>
            <div  class="col-md-3">
              <button
                type="button"
                class="boton_personalizado"
                routerLink="/user/project/{{ projects.projectsId }}"

              >
                <mat-icon>credit_card</mat-icon>
              </button>
            </div>
          </div>



        </div>
        <ul class="social">
          <li>
            <button
              type="button"
              class="boton_personalizado"
              routerLink="/user/projectsOwner/{{ projects.projectsId }}"
            >
              Ver Projecto
            </button>
          </li>
          <li>
            <button
              type="button"
              class="boton_personalizado"
              (click)="editprojct(projects)"
            >
              editar
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="botonF1" (click)="createProject()">
    <span>+</span>
  </button>
</div>
