<div class="container">
  <div class="signup-container">
    <div class="signup-header">
      <img [src]="logo" alt="SmartIdea-logo" />
      <h1><strong>Registrarse</strong></h1>
    </div>
    <div class="row center-xs">
      <mat-card class="signup-card">
        <form [formGroup]="form" (ngSubmit)="signup()">
          <div class="row">
            <div class="col-xs">
              <mat-form-field class="form-input">
                <mat-label>Nombres</mat-label>
                <input
                  matInput
                  formControlName="name"
                  placeholder="Ejemplo Nombres"
                  required
                /> </mat-form-field
              > <br />   <span *ngIf="this.form.get('name').errors?.required">
          (El nombre no puede quedar vacío)
      </span>
              <span *ngIf="this.form.get('name').errors?.minlength">
          (Debe tener como mínimo 3 caracteres)
      </span>
              <span *ngIf="this.form.get('name').errors?.pattern">
          (Debe tener solo letras)
      </span>

              <mat-form-field class="form-input">
                <mat-label>Apellidos</mat-label>
                <input
                  matInput
                  formControlName="surname"
                  placeholder="Ejemplo Apellidos"
                  required
                /> </mat-form-field
              ><br />     <span *ngIf="this.form.get('surname').errors?.required">
          (El apellido no puede quedar vacío)
      </span>
              <span *ngIf="this.form.get('surname').errors?.minlength">
          (Debe tener como mínimo 3 caracteres)
      </span>
              <span *ngIf="this.form.get('surname').errors?.pattern">
          (Debe tener solo letras)
      </span>
              <mat-form-field class="form-input">
                <mat-label>Nombre de Usuario</mat-label>
                <input
                  matInput
                  formControlName="username"
                  placeholder="@usuario"
                  required
                /> </mat-form-field
              ><br />      <span *ngIf="this.form.get('username').errors?.required">
          (El username no puede quedar vacío)
      </span>
              <span *ngIf="this.form.get('username').errors?.minlength">
          (Debe tener como mínimo 3 caracteres)
      </span>
            </div>
            <div class="col-xs">
              <mat-form-field class="form-input">
                <mat-label>Correo Electronico</mat-label>
                <input
                  matInput
                  formControlName="correo"
                  placeholder="Correo Electronico"
                  required
                /> </mat-form-field
              ><br />      <span *ngIf="this.form.get('correo').errors?.email">
          (Correo invalido)
      </span>
              <span *ngIf="this.form.get('correo').errors?.minlength">
          (Debe tener como mínimo 10 caracteres)
      </span>
              <mat-form-field class="form-input">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  formControlName="contrasenia"
                  required
                  type="password"
                />
              </mat-form-field>
              <span *ngIf="this.form.get('contrasenia').errors?.required">
                (Debe tener como mínimo 8 caracteres)
              </span>
              <mat-form-field class="form-input">
                <mat-label>Confirmar Contraseña</mat-label>
                <input
                  matInput
                  formControlName="confContrasenia"
                  required
                  type="password"
                />
              </mat-form-field>
              <span *ngIf="this.form.get('confContrasenia').value!=this.form.get('contrasenia').value">
                <br>
                (Las contraseñas no coinciden)
            </span>
            </div>

          </div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="form__button"
            routerLink="/user/feed"
          >
            REGISTRAR</button
          ><br />
        </form>
      </mat-card>
    </div>
  </div>
</div>
