h1 {
  font-weight: bold;
  margin-top: 60px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 60px;
}
.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  aling-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.content {
  padding: 20px;
  text-align: center;
  color: #343759;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px black;
  width: 75%;
  height: 650px;
  box-sizing: border-box;
  margin: 20px 60px;
}
.content > h2 {
  margin: 20px;
  display: block;
  font-size: 21px;
  text-align: left;
}
.SelectButton {
  margin-top: 130px;
  width: 100px;
  padding: 10px;
  background: #6930c3;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}
.SelectButton2 {
  position: absolute;
  margin: 20px 60px;
  width: 350px;
  padding: 10px;
  background: #6930c3;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}
.table:hover {
  background-color: rgb(236, 236, 243);
  color: #5e60ce;
}
.SelectButton:hover {
  background-color:#5e60ce;
}

@media (max-width: 1070px) {
  .table {
    width: 45%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .table {
    width: 100%;
    margin-bottom: 20px;
  }
}
