<h1>Revisión del Pedido</h1>

<section class="container">
  <!-- Payment plan Information -->
  <div class="contentPlan" *ngFor="let paymentPlan of paymentPlan">
    <h2 class="text">Plan :{{paymentPlan?.plan}}</h2>
  </div>
  <div class ="contentCard" >
    <!-- Card Information -->
    <h2 class="text">Tarjeta:{{ card?.cardNumber | creditcard }}</h2>
    <h2 class="text">Nombre de la Tarjeta:{{ card?.cardName }}</h2>
    <h2 class="text">Fecha de Caducidad:{{ card?.expirationMonth }}/{{ card?.expirationYear }}</h2>
  </div>

  <!--Information about the amount to pay-->
  <div class="contentPlan" >
    <h2 class="text">Total a Pagar :{{paymentPlan?.cost}} Bs.</h2>
  </div>
  <!--Button to continue with the form -->
  <button type= "button" class="PayButton"  routerLink="/user/bill">Pagar</button>
</section>
