<h1>Revisión de Pedido</h1>
<section class="container">
  <div class="content">
    <h2 class="text"><strong>Proyecto: </strong>{{ project?.projectTitle }}</h2>
    <!--Purchase information according to the selected payment plan -->
    <h2 class="text"><strong>Plan: </strong>{{ paymentplan?.plan }}</h2>
    <h2 class="text"><strong>Tarjeta: </strong>{{ card?.cardNumber| creditcard }}</h2>
    <h2 class="text">
      <strong>Duración de la publicidad: </strong
      >{{ paymentplan?.duration }} Mes (es)
    </h2>

    <h2 class="text"><strong>Direccion de Factura: </strong>{{bill?.billingAddress}}</h2>
    <h2 class="text"><strong>País: </strong>{{bill?.country}}</h2>
    <h2 class="text"><strong>Ciudad: </strong>{{bill?.city}}</h2>
    <h2 class="text"> <strong>Total a Pagar: </strong>{{ paymentplan?.cost }} Bs.</h2>

    <mat-divider></mat-divider>
    <button
      type="button"
      class="SelectButton2"
      (click)="createBill()">
      Agregar datos para la factura
    </button>

    <button
      type="button"
      class="SelectButton"

      (click)="newBill()">

      Pagar
    </button>
  </div>
</section>
