<h1 mat-dialog-title>Nuevo Certificado</h1>
<form [formGroup]="form" (ngSubmit)="saveCertificate()">
  <mat-dialog-content>
    <mat-form-field class="form">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        formControlName="certificateName"
        placeholder="Nombre Certificado"
        required
      /> </mat-form-field
    ><br />
    <mat-form-field class="form">
      <mat-label>Empresa</mat-label>
      <input
        matInput
        type="text"
        formControlName="company"
        placeholder="Empresa Emisora"
        required
      /> </mat-form-field
    ><br />
    <mat-form-field>
      <mat-label>Fecha de expedicion: </mat-label
      ><input
        matInput
        type="date"
        placeholder="Fecha de expedicion"
        formControlName="expeditionDate"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de expiracion: </mat-label
      ><input
        matInput
        type="date"
        placeholder="Fecha de expiracion"
        formControlName="expirationDate"
        required
      />
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Credential ID:</mat-label
      ><input
        matInput
        type="text"
        placeholder="ID de la credencial"
        formControlName="credentialId"
        required
      />
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Credential URL: </mat-label
      ><input
        matInput
        type="text"
        placeholder="URL de la credencial"
        formControlName="credentialURL"
        required
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-button color="primary" cdkFocusInitial>
      Guardar
    </button>
    <button mat-button mat-raised-button color="warn">Cancelar</button>
  </mat-dialog-actions>
</form>
