<h1>Datos de tarjeta</h1>

<button class="butom" (click)="createCard()">
  <span>+</span>
</button>

<div class="container">
  <table
    mat-table
    matSort
    [dataSource]="listCard"
    class="table mat-elevation-z8"
  >
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let card">{{ card.cardName }}</td>
    </ng-container>
    <ng-container matColumnDef="Numero">
      <th mat-header-cell *matHeaderCellDef>Numero</th>
      <td mat-cell *matCellDef="let card">
        {{ card.cardNumber | creditcard }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Expiracion">
      <th mat-header-cell *matHeaderCellDef>Mes/Año Expiracion</th>
      <td mat-cell *matCellDef="let card">
        {{ card.expirationMonth }}/{{ card.expirationYear }}
      </td>
    </ng-container>
    <ng-container matColumnDef="id_card">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let card">
        <button class="action-button" mat-mini-fab (click)="editcard(card)">
          <span><mat-icon>edit</mat-icon> </span>
        </button>
      </td>

      <th mat-header-cell *matHeaderCellDef>="Acciones"</th>
      <td mat-cell *matCellDef="let card">
        <button
          class="action-button"
          mat-mini-fab
          (click)="deleteCard(card)"
          color="warm"
        >
          <span><mat-icon>delete</mat-icon> </span>
        </button>
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
