<h1><strong>Datos de Tarjeta</strong></h1>

<div class="container">

  <div class="buttonAdd">
  <button (click)="createCard()" mat-fab color="primary">
    <mat-icon>add_icon</mat-icon>
  </button>
  </div>

  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let card of listCard"
    >
      <div class="our-team">

        <div class="picture">
          <img
            class="img-fluid"
            src="https://cdn.pixabay.com/photo/2016/09/16/09/21/card-1673581_1280.png"
          />
        </div>


        <div class="team-content">
          <h2 class="title"><strong>Tarjeta :</strong>{{ card.cardName }}</h2>
          <h2 class="title"><strong>Número :</strong> {{ card.cardNumber | creditcard }}</h2>
          <h2 class="title"><strong>Expiración:</strong> {{ card.expirationMonth }}/{{ card.expirationYear }}</h2>

          <a
            (click)="editcard(card.cardId)"
            mat-button
            mat-raised-button
            color="accent"
          >
            Editar
          </a>

          <button
            (click)="deleteCard(card.cardId)"
            mat-button
            color="warn"
          >
            Eliminar
          </button>

        </div>
      </div>
    </div>

  </div>
</div>
