th {
  padding: 15px;
  background: #673ab6;
  border-bottom: #7367f0;
  color: white;
}
tr:hover {
  background-color: #7367f0;
  color: white;
  transition: 0.5s all;
}
table {
  margin-top: 80px;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
h1 {
  font-size: 2.2em;
  margin: 10px auto;
  color: black;
  text-align: center;
}
.action-button {
  margin-left: 15px;
  margin-right: 15px;
}
.butom {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #673ab6;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-right: 1050px;
  margin-top: 10px;
  margin-bottom: 500px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}
