<h1>Lista de Donaciones</h1>

<section class="container">
  <div class="row">
    <div class="col-md-4 pb-2" *ngFor="let listDonation of listDonation ">

        <div class="table">
            <div class="picture">
              <img
                class="img-fluid"
                src="https://cdn.pixabay.com/photo/2016/09/16/09/21/money-1673582_1280.png"
                width="105" height="105"
              />
            </div>
          <!--Donation information-->
          <h2 class="text">{{ listDonation.projectTitle }}</h2>
          <p class="text"><strong>Descripción: </strong>{{ listDonation.projectDescription}}</p>
          <p class="text"><strong>Fecha de Donación: </strong>{{listDonation.donationDate | date: "dd/MM/yyyy"}}</p>
          <p class="text"><strong>Tarjeta: </strong>{{ listDonation.cardNumber| creditcard }}</p>
          <p class="text"><strong>Monto donado: </strong>{{listDonation.amount}} Bs.</p>
        </div>
      </div>
    </div>
</section>
