<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="sidebar-logo"><img [src]="logo" alt="SmartIdea-Logo" /></div>
    <mat-nav-list>
      <!--      <a mat-list-item routerLink="/user/profile" routerLinkActive="active"-->
      <!--        >Perfil</a-->
      <!--      >-->
      <a mat-list-item routerLink="/user/feed" routerLinkActive="active"
        >Feed</a
      >
      <a
        *ngIf="this.iduser != null"
        mat-list-item
        routerLink="/user/myprojects"
        routerLinkActive="active"
        >Mis Proyectos</a
      >
      <a
        *ngIf="this.iduser != null"
        mat-list-item
        routerLink="/user/certificate"
        routerLinkActive="active"
        >Certificados</a
      >
      <a
        *ngIf="this.iduser != null"
        mat-list-item
        routerLink="/user/cards"
        routerLinkActive="active"
        >Tarjetas de Credito</a
      >
      <a
        *ngIf="this.iduser != null"
        mat-list-item
        routerLink="/user/bill"
        routerLinkActive="active"
        >Facturacion</a
      >
      <a
        *ngIf="this.iduser != null"
        mat-list-item
        routerLink="/user/references"
        routerLinkActive="active"
        >Referencias</a
      >
      <a
        *ngIf="this.iduser != null"
        mat-list-item
        routerLink="/user/donationList"
        routerLinkActive="active"
      >Donaciones</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="row between-xs middle-xs header-row">
        <span>Smart Idea</span>
        <button mat-button *ngIf="this.iduser == null" (click)="login()">
          LogIn
        </button>
        <button mat-button *ngIf="this.iduser != null" (click)="logout()">
          LogOut
        </button>
        <a routerLink="/user/profile" *ngIf="this.iduser != null">
          <img src="{{ user?.image }}" alt="Avatar" class="avatar" />
          <span class="user-name">{{ user?.username }}</span>
        </a>
        <div class="notification-wrapper" *ngIf="this.iduser != null">
          <div class="notification-btn">
            <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
              <mat-icon [matBadge]="notificationCount" matBadgeColor="warn"
                >notifications</mat-icon
              >
            </button>

            <mat-menu #notificationMenu="matMenu" class="notification-content">
              <div
                class="notification-header"
                *ngFor="let notification of notifications"
                (click)="getNotificationDetails(notification.notificationId)"
              >
                <div
                  *ngIf="notification.status === 2"
                  id="{{ notification.notificationId }}"
                  class="notify-info-unread"
                >
                  <h4>
                    <strong>{{ notification.title }}</strong>
                    <span><mat-icon>group_add</mat-icon></span>
                  </h4>
                  <p>{{ notification.message }}</p>
                  <div class="visibility-project row middle-xs">
                    <span class="col-xs-4">No visto</span>
                    <mat-icon class="col-xs-1">visibility_off</mat-icon>
                  </div>
                  <span>{{ notification.date | date: "medium" }}</span>
                </div>
                <div
                  *ngIf="notification.status === 3"
                  id="{{ notification.notificationId }}"
                  class="notify-info"
                >
                  <h4>
                    <strong>{{ notification.title }}</strong>
                    <span><mat-icon>group_add</mat-icon></span>
                  </h4>
                  <p>{{ notification.message }}</p>
                  <div class="visibility-project row middle-xs">
                    <span class="col-xs-2">Visto</span>
                    <mat-icon class="unseen-icon col-xs">visibility</mat-icon>
                  </div>
                  <span>{{ notification.date | date: "medium" }}</span>
                </div>
                <mat-divider></mat-divider>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
