<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Perfil</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/user" routerLinkActive="active">Feed</a>
      <a mat-list-item routerLink="/user/myprojects" routerLinkActive="active"
        >Mis Proyectos</a
      >
      <a mat-list-item routerLink="/user/certificate" routerLinkActive="active"
        >Certificados</a
      >
      <a mat-list-item routerLink="/user/cards" routerLinkActive="active"
        >Tarjetas de Credito</a
      >
      <a mat-list-item routerLink="/user/bill" routerLinkActive="active"
        >Facturacion</a
      >
      <a mat-list-item routerLink="/user/references" routerLinkActive="active"
        >Referencias</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>smart-idea</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
