<div class="container">
  <br />
  <div class="row">
    <br />
    <h1 class="name">
      <strong>{{ project?.projectTitle }}</strong>
    </h1>
  </div>
  <div class="row">
    <div class="picture col">
      <img *ngIf="media.length>=1"
        class="img-fluid img-thumbnail"
        src="{{media[0].url}}"
      />
      <img *ngIf="media.length==0"
        class="img-fluid img-thumbnail"
        src="https://es.unesco.org/youth/toptips/user/pages/images/home-feature-two_mobile.png"
           width="500px"
           height="500px"
      />
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="team-content">
          <h4 class="title"><b>Descripcion : </b></h4>
          <p>{{ project?.description }}</p>
          <h5 class="title"><b>Vistas : </b>{{ project?.views }}</h5>
          <h5 class="title">
            <b>Fecha de creación : </b
            >{{ project?.createDate | date: "longDate" }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column" *ngFor="let images of media">
    <a target="_blank" (click)="debugBase64(images?.url)">
      <img src="{{images?.url}}" alt="" style="width:150px">
    </a>
  </div>
</div>

<div style="text-align:center;">
  <TABLE style="margin: 0 auto;" >
    <TR>
   <TD>
     <div class="wrapper">
      <div class="card">
        <div class="front">
          <h1>Area</h1>
        </div>
        <div class="right">
          <ul *ngFor="let area of listArea">
            <li>{{listArea.indexOf(area)+1}}     {{area.nameArea}}</li>
          </ul>
        </div>
      </div>

    </div>
    </TD>
      <TD>
        <div class="wrapper">
      <div class="card">
        <div class="front">
          <h1>Skill</h1>
        </div>
        <div class="right">
          <ul *ngFor="let skill of skills">
            <li>{{skills.indexOf(skill)+1}}     {{skill.skillName}}</li>
          </ul>
        </div>
      </div>

    </div>
    </TD>
    </TR>

  </TABLE>

</div>

<mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
  <mat-chip *ngFor="let chip of listTags" selected>
    {{chip.nameTags}}
  </mat-chip>
</mat-chip-list>


