<div class="container">
  <br />
  <div class="row">
    <br />
    <h1 class="name">
      <strong>{{ project?.projectTitle }}</strong>
    </h1>
  </div>
  <div class="row">
    <div class="picture col">
      <img *ngIf="media.length>=1"
        class="img-fluid img-thumbnail"
        src="{{media[0].url}}"
      />
      <img *ngIf="media.length<1"
        class="img-fluid img-thumbnail"
        src="https://es.unesco.org/youth/toptips/user/pages/images/home-feature-two_mobile.png"
           width="500px"
           height="500px"
      />
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="team-content">
          <h4 class="title"><b>Descripcion : </b></h4>
          <p>{{ project?.description }}</p>
          <h5 class="title"><b>Vistas : </b>{{ project?.views }}</h5>
          <h5 class="title">
            <b>Fecha de creación : </b
            >{{ project?.createDate | date: "longDate" }}</h5>
          <h5 class="title"><b>Presupuesto:</b>
            {{project?.budget}}Bs.</h5>
        </div>
        <button mat-raised-button color="primary" routerLink="/user/project/users/{{project?.projectsId}}" >Participantes</button>
        <button  mat-raised-button color="accent" (click)="afilarse(project?.projectsId, project)" *ngIf="conex===2" >
          <span class="buy">Afiliarse</span>
        </button>
        <br><br>
        <button type="button" color="accent" mat-raised-button (click)="pruebaModal()" *ngIf="conex===2" >Evaluación y Afiliación</button>
        <br><br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column" *ngFor="let images of media">
    <a target="_blank" (click)="debugBase64(images?.url)">
      <img src="{{images?.url}}" alt="" style="width:150px">
    </a>
  </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<div class="card-grid" style="text-align:center;">
  <a class="card" href="#">
    <div class="card__background" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbpRc9hnmMcG93mHbUFh45JV9Iuedx4dWK9g&usqp=CAU)"></div>
    <div class="card__content">
      <p class="card__category" style="color: #eeeeee" >Area</p>
      <h3 class="card__heading" style="color: #eeeeee">Areas del proyecto </h3>
      <ul  style="color: #eeeeee" *ngFor="let area of listArea">
        <li class="card__category">{{listArea.indexOf(area)+1}}     {{area.nameArea}}</li>
      </ul>
    </div>
  </a>
  <a class="card" href="#">
    <div class="card__background" style="background-image: url(https://image.shutterstock.com/image-photo/project-manager-updating-tasks-milestones-260nw-734184223.jpg)"></div>
    <div class="card__content">
      <p class="card__category" style="color: #eeeeee">Skill</p>
      <h3 class="card__heading" style="color: #eeeeee">Skill de proyecto</h3>
      <ul style="color: #eeeeee" *ngFor="let skill of skills" >
        <li class="card__category">{{skills.indexOf(skill)+1}}     {{skill.skillName}}</li>
      </ul>
    </div>
  </a>
  <a class="card" href="#">
    <div class="card__background" style="background-image: url(https://blog.hotmart.com/blog/2019/09/BLOG_tags-para-youtube-670x419.png)"></div>
    <div class="card__content">
      <p class="card__category" style="color: #eeeeee">tags</p>
      <h3 class="card__heading" style="color: #eeeeee">Tags del proyecto</h3>
      <ul style="color: #eeeeee" *ngFor="let tags of listTags" >
        <li class="card__category"> * {{listTags.indexOf(tags)+1}}     {{tags.nameTags}}</li>
      </ul>
    </div>
  </a>
</div>



