<div>
  <img src="{{this.user.image}}" alt="">
  <image-upload (uploadFinished)="onUploadFinish($event)">Subir imagen</image-upload>
  <label>First Name</label>
  <input type="text" [(ngModel)]="user.name" />
  <label >Last Name</label>
  <input type="text" [(ngModel)]="user.surname" />
  <label >Nick Name</label>
  <input type="text" [(ngModel)]="user.username"  />
  <label >Email</label>
  <input type="text" [(ngModel)]="user.email"  />
  <label >Description</label>
  <input type="text" [(ngModel)]="user.description"  />

  <label >Cellphone</label>
  <input type="text" [(ngModel)]="user.cellphone" />

  <button class="button" (click)="update()">Update User</button>
</div>

<h1>SKILLS</h1>
<button class="button"
        (click)="createSkill()">Add Skill</button>
  <hr>
  <table an>
    <thead>
    <tr>
      <th>#</th>
      <th>Skills</th>
    </tr>
    </thead>
    <tbody>
    <tr class="pure-table-odd" *ngFor="let skill of skills" >
      <td>{{skills.indexOf(skill)+1}}</td>
      <td><input type="text" value="{{skill.skillName}}" *ngIf="this.editskill">{{skill.skillName}}</td>
      <button type="button" (click)="deleteSkill(skill.skillId,skill.skillName,skills.indexOf(skill)); ngOnInit();">Eliminar</button>
      <button type="button" (click)="editSkill(skill.skillId,skill.skillName)">Editar</button>
    </tr>
    </tbody>
  </table>

<!--<mat-form-field class="example-chip-list">-->
<!--  <mat-chip-list #chipList aria-label="Fruit selection">-->
<!--    <mat-chip-->
<!--      *ngFor="let fruit of fruits"-->
<!--      [selectable]="selectable"-->
<!--      [removable]="removable"-->
<!--      (removed)="remove(fruit)">-->
<!--      {{fruit}}-->
<!--      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
<!--    </mat-chip>-->
<!--    <input-->
<!--      placeholder="New fruit..."-->
<!--      #fruitInput-->
<!--      [formControl]="fruitCtrl"-->
<!--      [matAutocomplete]="auto"-->
<!--      [matChipInputFor]="chipList"-->
<!--      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--      (matChipInputTokenEnd)="add($event)">-->
<!--  </mat-chip-list>-->
<!--  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">-->
<!--    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">-->
<!--      {{fruit}}-->
<!--    </mat-option>-->
<!--  </mat-autocomplete>-->
<!--</mat-form-field>-->
