<h1 mat-dialog-title>Edit Area</h1>
<form [formGroup]="formArea" (ngSubmit)="editarea()">
  <mat-dialog-content class="example-full-width">
    <mat-form-field>
      <mat-label>Area </mat-label
      > <input
      matInput
      formControlName="nameArea"
      ngModel="{{this.data.nameArea}}"
    />
    </mat-form-field>
    <span *ngIf="this.formArea.get('skillName').errors?.required">           (El nombre no puede quedar vacío)         </span>
    <span *ngIf="this.formArea.get('skillName').errors?.minlength">           (Debe tener como mínimo 3 caracteres)         </span>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-button color="primary" cdkFocusInitial>
      Guardar
    </button>
    <button mat-button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  </mat-dialog-actions>
</form>
