<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="payment.component.css">
  <title>Plan de Pagos</title>
</head>
<body>
<h1>Plan de Pagos</h1>
<h2>Proyecto: <br>
    Costo:</h2>

<div class="container">
  <div class="table"  cellspacing="10" cellpadding="10">
    <tr><td> <h2>1 Mes</h2>
      <p>Un mes de publicidad para tu proyecto</p><br>
      <h3>200 Bs.</h3>
      <a href="" class="button">Pagar</a></td></tr>

  </div>

  <div class="table"  cellspacing="10" cellpadding="10">
    <tr><td><h2>6 Meses</h2>
      <p>Medio año de publicidad para tu proyecto</p><br>
      <h3>1500 Bs.</h3>
      <a href="" class="button">Pagar</a></td></tr>
  </div>

  <div class="table"  cellspacing="10" cellpadding="10">
    <tr><td> <h2>12 Meses</h2>
      <p>Un año de publicidad para tu proyecto</p><br>
      <h3> 2500 Bs.</h3>
      <a href="" class="button">Pagar</a></td></tr>
  </div>

</div>
</body>
</html>
