*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size:45px;
  text-align: center;
  margin-bottom:20px ;
}
h2{
  font-size:25px;
  text-align:center;
  margin-bottom:10px;
}
.container{
  width: 90%;
  max-width: 900px;
  margin: auto;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.table{
  width: 33%;
  height: 450px;
  margin: auto;
  border:1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px black;
  padding: 63px;
  text-align: center;
  flex-grow: 1;
  color: #343759;
}
.table>h2{
  display: block;
  font-size:35px;
  margin-bottom: 30px;
}
.table>h3{
  display: block;
  font-size:28px;
  margin-bottom: 35px;
}
.table>p{
  display: block;
  font-size: 18px;
  margin-bottom: 35px;
}
.button{
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #2c8992;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin: auto;
}
.table:hover{
  color: #f1f1f2;
  background-color: #aea8a8;
  transition:.5s all;
  transform: scale(1.1);
  cursor: pointer;
}
@media screen and (max-width: 1000px){
  .table{
    width: 45%;
    max-width: none;
    margin-bottom: 40px;
    flex-grow: initial;
  }
}

@media screen and(max-width: 700px){
  .table{
    width: 45%;
    padding: 30px;
  }
  .table>h3{
    margin-top: 40px;
  }
}
  @media screen and(max-width: 550px){
    .table{
      width: 85%;
      padding: 20px;
  }
}

