<h1>FACTURACION</h1>
<div class="container">
  <table
    mat-table
    matSort
    [dataSource]="listBill"
    class="table mat-elevation-z8"
    class="table"
  >
    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let bill">{{ bill.buyDate }}</td>
    </ng-container>
    <ng-container matColumnDef="Proyecto">
      <th mat-header-cell *matHeaderCellDef>Proyecto</th>
      <td mat-cell *matCellDef="let bill">{{ bill.billingAddress }}</td>
    </ng-container>
    <ng-container matColumnDef="Plan">
      <th mat-header-cell *matHeaderCellDef>Plan</th>
      <td mat-cell *matCellDef="let bill">
        {{ bill.country }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let bill">
        {{ bill.city }}
      </td>
    </ng-container>
    <ng-container matColumnDef="id_card">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button class="action-button" mat-mini-fab>
          <span><mat-icon>details</mat-icon> </span>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
