<div *ngIf="certificate && !destroyed">
  <mat-card class="cert-card" *ngIf="!edit; else elseBlock">
    <mat-card-header>
      <mat-card-title>
        <h3>
          <strong>{{ certificate.certificateName }}</strong>
        </h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h4>{{ certificate.company }}</h4>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Fecha de expedicion: </strong
        >{{ certificate.expeditionDate | date: "dd-MM-yyyy" }}
        <strong>Fecha de expiracion: </strong
        >{{ certificate.expirationDate | date: "dd-MM-yyyy" }}
      </p>
      <p><strong>Credential ID: </strong>{{ certificate.credentialId }}</p>
      <p><strong>Credential URL: </strong>{{ certificate.credentialURL }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        id="{{ certificate.certificateId }}"
        (click)="editCert()"
        mat-button
        mat-raised-button
        color="accent"
      >
        Editar
      </a>
      <button
        id="{{ certificate.certificateId }}"
        (click)="deleteCertificate(certificate.certificateId)"
        mat-button
        color="warn"
      >
        Eliminar
      </button>
    </mat-card-actions>
  </mat-card>
  <ng-template #elseBlock>
    <form
      [formGroup]="form"
      (ngSubmit)="saveCertificate($event, certificate.certificateId)"
    >
      <mat-card class="cert-card">
        <mat-form-field class="form-input">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            formControlName="certificateName"
            placeholder="Nombre Certificado"
            [(ngModel)]="certificate.certificateName"
            required
          />
        </mat-form-field>
        <mat-form-field class="form-input">
          <mat-label>Empresa</mat-label>
          <input
            formControlName="company"
            matInput
            placeholder="Empresa Emisora"
            [(ngModel)]="certificate.company"
            required
          />
        </mat-form-field>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Fecha de expedicion: </mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="expeditionDate"
              [(ngModel)]="certificate.expeditionDate"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de expiracion: </mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              formControlName="expirationDate"
              [(ngModel)]="certificate.expirationDate"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-input">
            <mat-label>Credential ID:</mat-label
            ><input
              matInput
              placeholder="ID de la credencial"
              formControlName="credentialId"
              [(ngModel)]="certificate.credentialId"
              required
            />
          </mat-form-field>
          <mat-form-field class="form-input">
            <mat-label>Credential URL: </mat-label
            ><input
              matInput
              placeholder="URL de la credencial"
              formControlName="credentialURL"
              [(ngModel)]="certificate.credentialURL"
              required
            />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="{{ certificate.certificateId }}"
            type="submit"
            mat-button
            color="primary"
          >
            Guardar Cambios
          </button>
          <button
            id="{{ certificate.certificateId }}"
            (click)="cancel()"
            mat-button
            color="warn"
          >
            Cancelar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-template>
</div>
