h1{
  font-weight: bold;
  margin-top: 60px;
  font-size:50px;
  text-align: center;
  margin-bottom:60px ;
}
.container{
  margin: 0 auto;
  width: 90%;
  text-align: center;
  aling-items: center;
  justify-content: center;
}
.flex{
  display: flex;
}
.table{
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: #343759;
  border:1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px black;
  width: 25%;
  height: 400px;
  box-sizing: border-box;
  display: inline-block;
}
.table>h2{
  font-weight: bold;
  margin:20px;
  display: block;
  font-size:35px;
  margin-bottom: 50px;
}
.table>h3{
  display: block;
  font-size:28px;
  margin-bottom: 55px;
}
.table>p{
  display: block;
  font-size: 19px;
  margin-bottom: 35px;
}
.PayButton{
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #2c8992;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin: auto;
}
.table:hover{
  background-color: #b7b5b5;
  color: #FFFFFF;
  transition: .5s all;
  transform: scale(1.1);
  cursor: pointer;
}
.PayButton:hover{
  background-color: #4bc9d7;
}

@media (max-width: 1070px) {
  .table{
    width:45%;
    margin-bottom: 20px;
  }
}
@media(max-width: 600px){
  .table{
    width: 100%;
    margin-bottom: 20px;
  }
}
