<h1>Plan de Pagos</h1>

<section class="container flex" >
         <div class="row">
           <div class="col-md-4 pb-2"
                *ngFor="let paymentPlan of listPaymentPlan">
  <div class="table">
    <!-- Payment plan information -->
    <h2 class="text">{{ paymentPlan.plan }}</h2>
    <p class="text">{{ paymentPlan.description }}</p>
    <br />
    <h3 class="text"><strong>{{ paymentPlan.cost }} Bs.</strong></h3>
    <!-- Button to choose a payment plan -->
    <button
      type="button"
      class="PayButton"
      routerLink="/user/project/{{ this.projectid }}/paymentPlanBuy/{{
        paymentPlan.paymentPlanId
      }}"
    >
      Seleccionar
    </button>
      </div>
           </div>
         </div>
</section>
