<section class="container flex">
  <div class="table">
   <h2>1 Mes</h2>
      <p>Un mes de publicidad para tu proyecto</p><br>
      <h3>200 Bs.</h3>
    <a href="" class="button">Pagar</a>
  </div>

  <div class="table">
    <h2>6 Meses</h2>
      <p>Medio año de publicidad para tu proyecto</p><br>
      <h3>1500 Bs.</h3>
      <a href="" class="button">Pagar</a>
  </div>

  <div class="table">
    <h2>12 Meses</h2>
      <p>Un año de publicidad para tu proyecto</p><br>
      <h3> 2500 Bs.</h3>
      <a href="" class="button">Pagar</a>
  </div>
</section>

