<h1 mat-dialog-title>Nueva Area</h1>

<form [formGroup]="formArea" (ngSubmit)="savearea()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>area </mat-label
      ><input
      matInput
      placeholder="Area"
      formControlName="nameArea"
      required
    />
    </mat-form-field>
    <span *ngIf="this.formArea.get('skillName').errors?.required">           (El nombre no puede quedar vacío)         </span>
    <span *ngIf="this.formArea.get('skillName').errors?.minlength">           (Debe tener como mínimo 3 caracteres)         </span>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-button color="primary" cdkFocusInitial>
      Guardar
    </button>
    <button mat-button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  </mat-dialog-actions>
</form>
