<h1>Comprar Publicidad</h1>
<section class="container">
  <h2 class="text"><strong>Proyecto: </strong>{{ project?.projectTitle }}</h2>
  <!--Purchase information according to the selected payment plan -->
  <h2 class="text"><strong>Plan: </strong>{{ paymentplan?.plan }}</h2>
  <h2 class="text">
    <strong>Descripción: </strong>{{ paymentplan?.description }}
  </h2>
  <h2 class="text"><strong>Costo: </strong>{{ paymentplan?.cost }} Bs.</h2>
  <h2 class="text">
    <strong>Duración de la Publicidad: </strong>{{ paymentplan?.duration }} Mes
    (es)
  </h2>

  <div class="table">
    <div class="picture">
      <img
        class="img-fluid"
        src="https://image.freepik.com/iconos-gratis/tarjetas-bancarias_318-1960.jpg"
        width="105" height="105"
      />
    </div>

    <!-- Button to select the card and make the purchase-->
    <p>Usar tarjeta de crédito</p>
    <br />
    <button
      type="button"
      class="SelectButton"
      routerLink="/user/project/{{ this.projectid }}/paymentPlanBuy/{{
        this.paymentid
      }}/paymentMethod"
    >
      Seleccionar
    </button>
  </div>
</section>
