*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size:50px;
  text-align: center;
  margin-bottom:60px ;
}
h2{
  font-size:35px;
  text-align: center;
  margin-bottom:60px ;
}
.container{
  margin: 0 auto;
  width: 90%;
  text-align: center;
  aling-items: center;
  justify-content: center;
}
.flex{
  display: flex;
}
.table{
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: #343759;
  border:1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px black;
  width: 20%;
  height: 200px;
  box-sizing: border-box;
  display: inline-block;
}
.table>p{
  margin: 25px;
  display: block;
  font-size: 19px;
  margin-bottom: 35px;
}
.buttonSelect{
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #2c8992;
  text-decoration: none;
  color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin: auto;
}
.button:hover{
  background-color: #4bc9d7;
}

@media (max-width: 1070px) {
  .table{
    width:45%;
    margin-bottom: 20px;
  }
}
@media(max-width: 600px){
  .table{
    width: 100%;
    margin-bottom: 20px;
  }
}
